.App {
    text-align: center;
}

.vcenter {
    justify-content: center;
    align-items: center;
}

.topmargin {
    margin-top:20px
}

.rightpad {
    padding-right: 10px;
}

.verylargefont {
    font-size: 250px;
}

.redfont {
    color: rgb(255, 0, 0);
}

.blinking{
    animation:blinkingText var(--t) infinite;
}

@keyframes blinkingText{
    0%{     color: #F00;    }
    49%{    color: #F00; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #F00;    }
}
